body {
 /* background-color: rgb(197, 0, 1); */
 /* background-color: white; */
 color: white;
 /* font-family: Arial, Helvetica, sans-serif; */
 background-repeat: no-repeat;
 background-image: url("../images/bg2.jpg");
 background-size:cover;
 background-position: center;
}

/* .back_image {
    width:80%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;

} */

footer {
    position: relative;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: #950432;
    color: black;
    text-align: center;
    height: 100%;
    font-size: 22px;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 12px;
 }

.navbar {
  width: 100%;
  /* background-color: #cb0101; */
  background-color: aliceblue;
  overflow: auto;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  height: 60px;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #950432;
}

.active {
  background-color: rgb(197, 0, 1);;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

ul.lists{
list-style-position: outside;
padding-bottom: 60px;
/* list-style-image: url('../images/x.png'); */
}

.contents{
  font-family: Papyrus, fantasy;
  font-size: larger;
}