body {
 background-color: rgb(197, 0, 1);
 color: rgb(250, 250, 250);
}

footer {
    position: relative;
    /* left: 0; */
    bottom: 0;
    width: 100%;
    background-color: rgb(96, 0, 1);
    color: white;
    text-align: center;
    height: 100%;
    font-size: 22px;
 }