<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- <link href="../css/bootstrap.min.css" rel="stylesheet" > -->
  
  <link href="../../css/main.css" rel="stylesheet">
  <link href="../../css/components.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="../../js/art.js" defer></script>
  <title>TreasureApp</title>
</head>

<body>
  <nav class="navbar">
    <span class="logo">TP</span>
    <h4 class="title" style="color: royalblue; font-family:'Square Peg', cursive; font-size: 60px;"></h4>
    <div class="navigation">
      <a class="active" href="../../index.html"></i> Home</a>
      <!-- <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> -->
      <a href="#footer"> Contact</a>
      <a href="../login.html"></i> Login</a>
    </div>
  </nav>

  <div class="page-contents">

    <div class="third-section">

        <section class="sect-arts-designs">
            <h4>Arts & designs...</h4>
            <div class="card-container" id="arts-section">
            </div>
    
          </section>

    </div>
  </div>
</body>
<footer class="footer-section" id="footer">
  <div class="col-1 socials" id="socials-section">
    <a href="mailto:tvseriestreasureapp@gmail.com" title="Mail us" target="_blank">
      <i class="fa fa-fw fa-envelope"></i>
    </a>
    <a href="https://www.facebook.com/treasureapptv/" title="Connect with us on facebook" target="_blank">
      <i class="fa fa-fw fa-facebook"></i>
    </a>
    <a href="https://instagram.com/treasureapptv?igshid=YmMyMTA2M2Y=" title="Checkout our instagram page"
      target="_blank">
      <i class="fa fa-fw fa-instagram"></i>
    </a>
    <a href="https://twitter.com/treasureapptv/status/1474153302644432897?s=21&t=Y2xU665cgRVbaC5fx9znLA"
      title="Check us out on twitter" target="_blank">
      <i class="fa fa-fw fa-twitter"></i>
    </a>
    <a href="https://tiktok.com/" title="Follow us on tiktok." target="_blank">
      <span class="iconify" data-icon="fa-brands:tiktok"></span>
    </a>
    <a href="https://triller.com/" title="Triller" target="_blank">
      <span class="iconify" data-icon="simple-icons:triller"></span>
    </a>
    <a href="https://youtube.com/channel/UCaLxTvTVZ3Ar5q4zYNw8rZg" title="Subscribe to our youtube channel"
      target="_blank">
      <i class="fa fa-fw fa-youtube"></i>
    </a>
    <a href="https://t.me/+7Frdu51YX6U0NGVk" title="Join our telegram conversation space" target="_blank">
      <i class="fa fa-telegram"></i>
    </a>
  </div>
  <div class="col-2 downloads-more" id="downloads">
    <a href="https://google.playstore.com" title="Download from google playstore" target="_blank"><i
        class="fa fa-fw fa-play"></i></a>
    <a href="https://apple.appstore.com" title="Download the app on your apple device" target="_blank"><i
        class="fa fa-apple"></i></a>
    <a href="./html/merch.html" title="Buy our merch" target="_blank"><span>Buy merch</span></i></a>

  </div>
</footer>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</html>